:root {
    --primary-color: #2b2a2c;
    --secondary-color: #6a696b;
    --gray-color: #717072;
    --light-color: #fff;
    --intro-border-bottom-color: #f1f1f1;
    --input-border-color: rgb(112, 112, 112, 0.3);
    --input-border-focus-color: rgb(112, 112, 112, 0.9);
    --error-color: #d33;
    --success-color: #2e7d32;
    --card-bg: #fff;
    --footer-primary-color: #8d8d8e;
    --footer-primary-hover-color: #fff;
    --overlay-color: rgba(0, 0, 0, 0.6);

    --bp-xs: 480px;
    --bp-sm: 640px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;
    --bp-2xl: 1536px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    min-height: 100vh;
}

#app {
    width: 100%;
    height: 100%;
}

.app-wrapper {
    max-width: 1186px;
    width: 100%;
    padding: 0 8px;
    margin: 0 auto;
}

.app-card {
    background-color: var(--card-bg);
    border-radius: 18px;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2);
    transition-property: box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.app-card-wrapper:hover > .app-card {
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}

.app-card-content {
    padding: 16px 12px;
}

.text-description {
    word-break: break-all;
    line-height: 1.8;
    width: 100%;
    font-size: 12px;
    color: var(--gray-color);
}

.restict-textarea-resize {
    resize: none !important;
}
